body{
    background: black ;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    display: grid;
    width: 25%;
    justify-content: center;
    align-content: center;
    margin: 140px auto 55px
    
}

h2{
    color: #ffffff; 
    text-align: center;    
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.input-min, .input-max{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    width: 290px;
    height: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0px 15px 0px 15px;
    text-align: center;
}

button{
    animation: blink 5s infinite;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    font-size: 36px;
    line-height: 60px;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    
}

p{
    color: #ffffff;
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    animation: changeColor 5s infinite;
}

@keyframes blink {
    0% {
      background-color: red;
    }
    16.6% {
      background-color: orange;
    }
    33.3% {
      background-color: yellow;
    }
    50% {
      background-color: green;
    }
    66.6% {
      background-color: blue;
    }
    83.3% {
      background-color: indigo;
    }
    100% {
      background-color: violet;
    }
  }
  @keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
  }
  

  
    